Source: grub-files-mx
Section: system
Priority: optional
Maintainer: Dolphin Oracle <dolphinoracle@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1

Package: grub-files-mx
Architecture: all
Depends: debconf
Description: modified grub files for mx and antiX linux
